/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.web-name{
    position:relative;
    top:0;
    left:0;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.special-button{
    background-color: #DFB06E;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px;
    border-bottom: #c98628 3px solid;
    border-left: #d69d4d 3px solid;
    color: black;
    cursor: pointer;
}