/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.web-name {
  position: absolute;
  top: 3vh;
  left: 0;
  font-family: "mgs4brush", serif;
  font-size: 4vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.special-button {
  background-color: #dfb06e;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-radius: 50px;
  border-bottom: #c98628 4px solid;
  border-left: #d69d4d 4px solid;
  border-top: #e9c798 2px solid;
  color: black;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;

  &:hover {
    background-color: #d69d4d;
  }
}

.special-button:active {
  border-left: #c98628 4px solid;
  border-top: #d69d4d 2px solid;
  transform: scale(0.95);
}

@font-face {
  font-family: "KaiTi";
  src: url("./fonts/Kaiti.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.chinese {
  font-family: "KaiTi", serif;
}

@font-face {
  font-family: "mgs4brush";
  src: url("./fonts/mgs4brush.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.unselectable {
  user-select: none;
}

.default-font {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
