<header>
  <h1>Credits</h1>
</header>
<p>Thrid party api: https://hanziwriter.org/docs.html</p>
<ul>
  <li>https://www.w3schools.com/angular/angular_select.asp</li>
  <li>
    https://medium.com/&#64;ujjawalr/show-hide-or-toggle-element-in-angular-289f64f55fb4
  </li>
  <li>
    https://medium.com/&#64;ayushgrwl365/angular-component-interaction-a-closer-look-at-input-and-output-bindings-for-seamless-6632c800aad
  </li>
  <li>
    https://stackoverflow.com/questions/31559469/how-to-create-a-simple-javascript-timer
  </li>
  <li>
    https://stackoverflow.com/questions/51376589/typescript-what-type-is-setinterval
  </li>
  <li>
    https://stackoverflow.com/questions/14667713/how-to-convert-a-string-to-number-in-typescript
  </li>
  <li>https://developer.mozilla.org/en-US/docs/Web/CSS/white-space</li>
  <li>Stripe documentation: https://docs.stripe.com/api</li>
  <li>
    Google OAuth2 login:
    https://www.loginradius.com/blog/engineering/google-authentication-with-nodejs-and-passportjs/
  </li>
  <li>
    Angular runtime variables:
    https://www.linkedin.com/pulse/how-configure-your-angular-app-without-rebuilding-source-akhil-k
  </li>
  <li>
    Nginx:
    https://stackademic.com/blog/how-to-serve-an-angular-application-with-nginx
  </li>
  <li>
    Github container registry:
    https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry
  </li>
</ul>
