<div class="container">
  <div class="flex-column col-6 section-two" *ngIf="matchFound">
    <div class="section-c">
      <div class="web-name">SuperHanZi</div>
      <div *ngIf="isGameStarted" class="timer-container">
        <div class="timer-title">Timer:</div>
        <div class="timer-bar-container">
          <div class="timer-bar" [style.width.%]="timerBar"></div>
        </div>
      </div>
    </div>
    <div class="section-a">
      <div class="opponent-whiteboard">
        <div class="playerTitle">Opponent</div>
        <div id="player1-writer" class="player1-writer"></div>
      </div>
      <div class="character-section flex-column">
        <div class="character chinese">{{ character.character }}</div>
        <div class="pinyin">
          {{ character.pinyin }} / {{ character.english }}
        </div>
      </div>
    </div>

    <div class="section-b stat-card">
      <div class="stats-title">Strokes Completed</div>

      <div class="stats-number">
        <div class="stats-you">You: {{ player2StrokesFinished }}</div>
        <div class="stats-opponent">Opp: {{ player1StrokesFinished }}</div>
      </div>

      <div class="stats-bar">
        <div class="stats-bar-fill" [style.width.%]="strokeBar"></div>
      </div>

      <div class="stats-title">Mistakes</div>

      <div class="stats-number">
        <div class="stats-you">You: {{ player2MistakesMade }}</div>
        <div class="stats-opponent">Opp: {{ player1MistakesMade }}</div>
      </div>

      <div class="stats-bar">
        <div class="stats-bar-fill" [style.width.%]="mistakeBar"></div>
      </div>
    </div>
  </div>

  <div
    class="waiting-opponent animate"
    *ngIf="!matchFound && !showOpponent && !opponentQuit"
  >
    Searching for Opponent...
  </div>

  <div
    class="home-button cancel-button"
    *ngIf="!matchFound && !showOpponent && !opponentQuit"
    (click)="navigateToHome()"
  >
    Cancel
  </div>

  <div class="waiting-opponent opponent-info" *ngIf="showOpponent">
    Found a Match
  </div>
  <div class="waiting-opponent opponent-quit" *ngIf="opponentQuit">
    Opponent Forfeited
  </div>

  <div class="flex-column col-6 section-two" *ngIf="matchFound">
    <div class="home-button" (click)="navigateToHome()">Home</div>
    <div class="whiteboard">
      <div class="playerTitle" *ngIf="gameResultsHidden">You</div>
      <div id="player2-writer" *ngIf="gameResultsHidden"></div>
      <div *ngIf="!gameResultsHidden" class="result-container">
        <div class="gameResults gameResultsTitle">{{ player2Result }}</div>
        <div class="gameResults">Total Score</div>
        <div class="gameResults">{{ player2Score }} vs {{ player1Score }}</div>
      </div>
      <div *ngIf="!isGameStarted" class="control-button-container">
        <select
          class="general-button general-button-dropdown"
          [(ngModel)]="timer"
        >
          <option value="30">30 secs</option>
          <option value="60">60 secs</option>
          <option value="90">90 secs</option>
          <option value="120">120 secs</option>
        </select>
        <select
          class="general-button general-button-dropdown"
          [(ngModel)]="showOutline"
        >
          <option value="false">Hide Outline</option>
          <option value="true">Show Outline</option>
        </select>
        <select
          class="general-button general-button-dropdown"
          [(ngModel)]="showHintAfterMisses"
        >
          <option value="0">Don't show hints</option>
          <option value="1">Show hint after 1 miss</option>
          <option value="2">Show hint after 2 miss</option>
          <option value="3">Show hint after 3 miss</option>
        </select>
        <select
          class="general-button general-button-dropdown"
          [(ngModel)]="difficulty"
        >
          <option value="1.5">Easy</option>
          <option value="1">Medium</option>
          <option value="0.8">Hard</option>
        </select>
        <button class="general-button" (click)="startGame()">Start Game</button>
      </div>
    </div>
  </div>

  <div class="pattern"></div>
</div>
