.container {
  display: flex;
  height: 100%;
  background-color: #362e2a; /* Solid color for the content side */
  color: wheat;
  font-size: 4vh;
  background-size: contain;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.pattern {
  background-image: url("/assets/pattern.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.section-one {
  height: 100%;
  align-self: flex-end;
  z-index: 2;
}

.button-section {
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
}

.feedback-section {
  flex: 5;
  background-color: transparent;
  width: 90%;
  align-self: center;
  padding: 10px;
}

.feedback {
  display: flex;
  background-color: rgba(208, 183, 165, 0.6);
  border-radius: 45px;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: rgb(62, 50, 50);
}

.feedback.feedback-practice {
  flex-direction: column;
}

.character {
  height: fit-content;
  width: fit-content;
  font-size: 10ex;
  text-align: center;
  display: flex;
  margin-bottom: 10%;
}

.pinyin {
  position: absolute;
  font-size: 2vw;
  text-align: center;
  bottom: 0;
  margin-bottom: 10%;
}

.home-button {
  background-color: #dfb06e;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 50px;
  margin: 10px;
  border-bottom: #c98628 3px solid;
  border-left: #d69d4d 3px solid;
  color: black;
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;

  transition: background-color 0.3s;

  &:hover {
    background-color: #d69d4d;
  }
}

.general-button {
  background-color: #dfb06e;
  border-radius: 50px;
  border: #c98628 3px solid;
  color: black;
  cursor: pointer;
  width: fit-content;
}

.cancel-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;
}

.cancel-button:active {
  transform: scale(0.9);
}

.general-button.general-button-dropdown {
  margin-right: 15px;
}

.section-two {
  justify-content: flex-start;
  z-index: 2;
}

.whiteboard {
  background-color: #f5ecda;
  height: 87%;
  width: 90%;
  align-self: center;
  z-index: 2;
  border-radius: 10%;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hint-button {
  color: #935804;
  text-decoration: underline;
  cursor: pointer;
  font-size: 2vw;
}

.hint-button:hover {
  color: #bc7511;
}

.toggle-container {
  width: 100%;
  height: fit-content;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

.toggle-label {
  background-color: rgb(32, 24, 24);
  height: 3vh;
  aspect-ratio: 2;
  border-radius: 50px;
  cursor: pointer;
}

.toggle-label::before {
  position: absolute;
  content: "";
  background-color: #706258;
  height: 2.6vh;
  aspect-ratio: 1;
  border-radius: 50px;
  margin-top: 0.2vh;
  margin-left: 0.2vh;
}

input:checked + .toggle-label {
  background-color: rgb(147, 128, 128);
}

input:checked + .toggle-label::before {
  transform: translateX(115%);
  background-color: #524840;
}

.toggle-container input {
  display: none;
}

.button-label {
  margin-right: 5%;
  font-size: 1.5vw;
}

.practice-item {
  margin-bottom: 2%;
}

.gameResults {
  font-size: 6vh;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting-opponent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 3vw;
  color: white;
  z-index: 2;
}

.gameResults.gameResultsTitle {
  font-size: 8vw;
  color: #e48807;
  transition: font-size 1s ease-in-out;
}

.playerTitle {
  position: absolute;
  top: 0;
  color: #362e2a;
  text-align: center;
  text-decoration: underline;
}

.timer-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
}

.timer-bar-container {
  width: 100%;
  height: 2vh;
  background-color: #f5ecda;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px 0px black;
}

.timer-bar {
  background-color: #bfa089;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.3);

  transition: width 1s linear;
}

.character-section {
  background-color: #706258;
  border-radius: 20%;
  width: 35%;
  height: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 10px 10px 0px black,
    inset 10px -7px 4px 3px rgba(0, 0, 0, 0.25);
  position: relative;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

.opponent-whiteboard {
  background-color: #f5ecda;
  padding: 15px;
  height: 95%;
  width: 35%;
  align-self: center;
  z-index: 2;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px 0px black;
  position: relative;
}

.player1-writer {
  margin-top: 20%;
}

.section-a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 45vh;
  padding: 3vh;
}

.section-b {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 35vh;
  align-self: center;
}

.section-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 15vh;
}

.stat-card {
  border-radius: 4.6vh;
  background: linear-gradient(
    to bottom,
    #f8f6e2,
    #ffffff9e
  ); /* Linear gradient */
}

.stats-title {
  color: #362e2a;
  text-decoration: underline;
}

.stats-number {
  color: #362e2a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.stats-bar {
  width: 90%;
  height: 2vh;
  background-color: #f7d28d;
  border-radius: 10px;
  box-shadow:
    0 0 10px 0px black,
    inset 0 -4px 3px rgba(0, 0, 0, 0.2);
}

.stats-bar-fill {
  background-color: #bfa089;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.3);
  transition: width 0.5s linear;
  width: 50%;
}

.web-name {
  position: relative;
  margin-bottom: 6vh;
}

@keyframes loopAnimation {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  animation: loopAnimation 2s infinite;
}
