<div class="container">
  <div class="col-6 section-one flex-column">
    <div class="web-name">SuperHanZi</div>

    <div class="button-section flex-row unselectable" *ngIf="practice">
      <div class="toggle-container flex-row">
        <div class="button-label">Show outline</div>
        <input
          type="checkbox"
          [(ngModel)]="showOutline"
          (click)="showOutlineToggle()"
          id="showOutline"
          class="toggle-button"
        />
        <label for="showOutline" class="toggle-label"></label>
      </div>
      <div class="toggle-container flex-row">
        <div class="button-label">Hide Character</div>
        <input
          type="checkbox"
          [(ngModel)]="hideCharacter"
          (click)="hideCharacterToggle()"
          id="pinyinOnly"
          class="toggle-button"
        />
        <label for="pinyinOnly" class="toggle-label"></label>
      </div>
    </div>

    <div class="character-section flex-column">
      <div *ngIf="!hideCharacter" class="chinese character">
        {{ this.hanzi }}
      </div>
      <div class="pinyin">{{ this.pinyin }} / {{ this.english }}</div>
    </div>

    <div class="feedback-section">
      <div class="feedback" *ngIf="learning">{{ learnInstructions }}</div>
      <div
        class="stats-box"
        *ngIf="practice"
        [style.background-color]="this.color"
      >
        <div class="practice-instruction" *ngIf="!this.practiceButtonHidden">
          {{ practiceInstructions }}
        </div>
        <div class="stats-container" *ngIf="this.practiceButtonHidden">
          <div class="practice-item">
            <div class="stats-header">Current Stroke:</div>
            <div class="stats-value">
              {{ feedbackCurrentStroke }}
            </div>
          </div>
          <div class="practice-item">
            <div class="stats-header">Mistake on Current Stroke:</div>
            <div class="stats-value">
              {{ feedbackStrokeMistakes }}
            </div>
          </div>
          <div class="practice-item">
            <div class="stats-header">Stroke Remaining:</div>
            <div class="stats-value">
              {{ feedbackStrokesRemaining }}
            </div>
          </div>
          <div class="practice-item">
            <div class="stats-header">Total Mistakes:</div>
            <div class="stats-value">
              {{ feedbackTotalMistakes }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-column col-6 section-two unselectable">
    <div class="home-button" (click)="navigateToCharacterSelection()">Back</div>
    <div class="whiteboard">
      <div id="character-writer"></div>
      <div *ngIf="learning">
        <button
          class="general-button"
          *ngIf="!learnButtonHidden"
          (click)="learnCharacter()"
        >
          Learn
        </button>
        <button
          class="general-button"
          *ngIf="!learnDemonstrationHidden"
          (click)="demonstrateCharacter()"
        >
          Demonstration
        </button>
        <button
          class="general-button"
          *ngIf="!learnQuizWithOutlineHidden"
          (click)="quizWithOutline()"
        >
          Practice Quiz#1
        </button>
        <button
          class="general-button"
          *ngIf="!learnQuizWithoutOutlineHidden"
          (click)="quizWithoutOutline()"
        >
          Practice Quiz#2
        </button>
      </div>
      <div *ngIf="practice">
        <select
          class="general-button general-button-dropdown"
          *ngIf="!difficultyButtonHidden"
          [(ngModel)]="difficulty"
        >
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
        </select>
        <button
          class="general-button"
          *ngIf="!practiceButtonHidden"
          (click)="practiceCharacter()"
        >
          Practice
        </button>
        <button
          class="general-button"
          *ngIf="!practiceAgainButtonHidden"
          (click)="practiceCharacterAgain()"
        >
          Practice Again
        </button>
      </div>
      <div
        class="hint-button"
        *ngIf="!strokeHintHidden"
        (click)="showStrokeHint()"
      >
        Hint
      </div>
    </div>
  </div>

  <div class="pattern"></div>
</div>
