<div class="container">
  <div class="web-name">WEBAPPLOGO</div>

  <div class="col-4 section-one">
    <div class="special-button find-match" (click)="findMatch()">
      Find a Match
    </div>
  </div>
  <div class="flex-column col-8">
    <div class="top-buttons">
      <div class="button credits" (click)="navigateToCredits()">Credits</div>
      <div class="button learning" (click)="navigateToLearning()">Learning</div>
      <div class="button practice" (click)="navigateToPractice()">Practice</div>
      <app-checkout></app-checkout>
      <div class="special-button profile" (click)="signOut()">Sign Out</div>
    </div>
    <div class="picture">
      <div class="shadow">
        <div class="wallpaper"></div>
      </div>
      <div class="solid-shape"></div>
    </div>
  </div>
  <div class="pattern"></div>
</div>
