.router-container {
  position: relative;
  overflow: hidden; /* Ensure content does not overflow */
  height: 100vh; /* Full height */
  width: 100vw; /* Full width */
  background-color: #362e2a;
}
